.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
  font-family: 'Indie Flower', cursive;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color:cornflowerblue;
}

p {
  font-size: 2rem;
  color:cornflowerblue;
}

img {
  width: 80%;
}

button {
  display: block;
  margin: 30px auto;
  padding: 15px 40px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color:cornflowerblue;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color:rgb(7, 84, 226);
  transform: scale(1.1);
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-size: 1.2rem;
}
